@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}


.login_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    border: 2px solid rgba(0, 0, 0, 0.418);
    padding: 40px 50px;
    border-radius: 4px;
    width: 400px;
    background: #fff;
    box-shadow: 0px 15px 30px 0px rgb(0 0 0 / 70%);
}

.login_row {
    display: block;
    margin-top: 30px;
}

.login_title {
    text-align: center;
    font-size: 1.4em;
    font-weight: 500;
}

.login_row input {
    padding: 10px;
    margin-top: 10px;
}

.login_row input,
.login_row label {
    width: 100%;
    outline: none;
    border-radius: 2px;
}

.login_row input[type=text],
.login_row [type=password] {
    border: 2px solid #111;
}

.login_row #username,
.login_row #password {
    color: black;
    font-weight: 500;
    font-size: 16px;
}

.login_row #submit {
    background: #111;
    color: #fff;
    border: none;
    font-size: 16px;
    letter-spacing: 2px;
    border-radius: 3px;
    transition: 0.3s;
}

.login_row #submit:hover {
    background: #fff;
    color: #111;
    border: 2px solid #111;
}

.error-txt {
    margin-top: 20px;
    background: #ff5050be;
    padding: 5px;
    text-align: center;
    color: #111;
    font-weight: 500;
    border-radius: 2px;
    display: none;
}

@media (max-width:770px) {
    .login_container {
        width: 400px;
        padding: 30px 35px;
    }
}

@media (max-width:445px) {
    .login_container {
        width: 350px;
        padding: 30px 35px;
    }
}

@media (max-width:400px) {
    .login_container {
        width: 325px;
        padding: 20px 25px;
    }
}